:root {
    --pink-color: rgb(238, 208, 210);
    --blue-color: rgb(187, 208, 229);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.bgi {
    width: 100vw;
    height: 100vh;
}

.bgi .aa {
    float: left;
    width: 60vw;
    height: 100vh;
    background-color: var(--pink-color);
}

.blog_item {
    float: right;
    width: 40vw;
    height: 100vh;
    background-color: var(--blue-color);
}