:root {
    --pink-color: rgb(238, 208, 210);
    --blue-color: rgb(187, 208, 229);
    --green-color: rgb(0, 16, 11);
    --hh-color: rgb(218, 223, 225);
    --lin-color: rgb(199, 206, 209);
}

@font-face {
    font-family: '筑紫a丸';
    src: url('../font/NotoSansCJK-Regular.ttc');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* .bgi {
    position: relative;
    width: 100vw;
    height: 100vh;
}


联系方式页

.bgi .aa {
    float: left;
    width: 26vw;
    height: 100vh;
    font-family: '筑紫a丸';
    font-size: 2em;
    background-color: var(--hh-color);
}

.bgi .aa::before {
    clear: both;
    content: "";
    width: 0;
}

.content {
    width: 75%;
    height: 4rem;
    color: black;
    margin: 0em auto;
    margin-top: 4em;
    border-bottom: var(--lin-color) 1px solid;
    text-align: left;
}

.item {
    width: 75%;
    height: 60px;
    font-size: .7em;
    margin: 0 auto;
    border-bottom: var(--lin-color) 1px solid;
    line-height: 60px;
}

.bgi .aa span {
    float: left;
    display: block;
    margin-top: 10em;
}

.blog_item {
    float: right;
    width: 74vw;
    height: 100vh;
    background-color: var(--blue-color);
}

.item_box {
    width: 60vw;
    height: 50vh;
    background-color: #fff;
}

.blog_item img {
    width: 40vw;
    height: 30vh;
} */

.w {
    width: 80vw;
    height: 110vh;
    margin: 0 auto;
    /* background-color: var(--lin-color); */
}

.item_blog {
    width: 100%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.blog_item_b {
    font-size: 2em;
    font-family: '筑紫a丸';
    margin-top: 20px;
}

.blog_content {
    font-size: 1em;
    color: bisque;
}

.first_box {
    width: 100%;
    height: 1080px;
    background-image: url(../img/blog-item.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}